.info-area {
	flex: 0 1 300px;
	background-color: #19151A;
}

.logo-area {
	background-color: #3D3339;
	height: 60px;

	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 70%;
	}
}

.head {
	font-size: 22px;
	padding: 0.5em;
}
