.module {
	width: 200px;
	padding: 0.5em 0;

	position: absolute;

	$border-width: 3px;
	border: $border-width solid #333;
	border-radius: 10px;

	background: white;

	.name {
		line-height: 1.5em;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}
}
