.wire {
	position: absolute;
	width: 1px;
	height: 1px;

	&.relative {
		top: 50%;
	}

	&.absolute {
		position: absolute;
	}

	&.in {
		right: 100%;
	}

	&.out {
		left: 100%;
	}

	.path {
		stroke: #333;
		stroke-width: 6px;
		fill: none;
	}
}
